<!DOCTYPE html>
    <html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Simple To-Do App</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    </head>
    <body>
      <div class="container ">
        <h1 class="display-4 text-center py-1">To-Do App</h1>
        <div class="">
            <div>
                <form action='/login_redirect' method="POST" class="d-block">
                    <button> Login <button>
                </form>
            </div>
            <br/>
            <div>
                <form action='/signup_redirect' method="POST" class="d-block">
                    <button> Signup <button>
                </form>
            </div>
        </div>
      </div>
      <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>"
      <script src="/browser.js"></script>
    </body>
    </html>